Package: hailo-provisioning-service
Version: 1.0.0+000000001
Architecture: amd64
Essential: no
Section: Applications
Priority: optional
Maintainer: devops@HailoOSS.com
Installed-Size: 10000
Description: Hailo Provisioning Service
